body {
    display: flex;
    flex-direction: column;
    font-family: "hero", verdana, sans-serif;
    overflow-y: scroll;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

button {
    display: flex;
    background-color:  #3882F6;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.introduction {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-box {
    display: flex;
    padding: 5px;
    font-size: 24px;
    color:#F9FAF8;
    margin-bottom: 72px;
    padding: 80px;
}

.header-link {
    display: flex;
    margin-left: auto;
    gap: 8px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.intro-text {
    font-size: 18px;
    color: #E5E7EB;
}

.info-contact-box {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding: 80px;
}

.info-contact-box .reverse {
    flex-direction: row-reverse;
}

.info-contact-box .intro {
    flex: 1;   
    padding: 10px;
}

.image {
    width: 300px;
}

.content {
    display: flex;
    background-color: white;
    color: black;
}

.footer {
    display: flex;
    background-color: #E5E7EB;
    color:#1F2937
}