body {
    display: flex;
    flex-direction: column;
    font-family: "hero", verdana, sans-serif
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    
}

.content {
    display: flex;
    background-color: white;
    color: black;
}

.footer {
    display: flex;
    background-color: #E5E7EB;
    color:#1F2937
}