body {
    display: flex;
    flex-direction: column;
    font-family: "hero", verdana, sans-serif;
    overflow-y: scroll;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

button {
    display: flex;
    background-color:  #3882F6;
    color: white;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: white 1px solid;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.introduction-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 30px;
}

.header-box {
    display: flex;
    font-size: 24px;
    color:#F9FAF8;
    margin-bottom: 72px;
    padding-right: 100px;
    padding-left: 100px;
    margin: 20px;
}

.logo {
    width: 100px;
    margin: 5px;
}

.header-link {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

.image {
    width: 400px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.intro-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    width: 600px;
    padding-bottom: 30px;
}

.info-contact-box {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding-left: 120px;
    padding-right: 110px;
    padding-bottom: 20px;
}

.info-contact-box .reverse {
    flex-direction: row-reverse;
}

.info-contact-box .intro {
    flex: 1;   
    padding: 10px;
}

/*Middle Section*/

.content-section {
    display: flex;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.section-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 30px;
}

.content-box-2 {
    display: flex;
    justify-content: space-between;
}

.specialization {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 30px;
    margin: 30px;
}

.window {
    width: 150px;
    height: 150px;

}

.window-text {
    width: 150px;
    flex-wrap: wrap;

}

/*Quote*/
.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color:#1F2937;
    align-items: center;
    font-size: 28px;
    font-style: italic;
    padding: 40px;
}

.quote-text{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    padding: 20px;
}
.origin-text {
    display: flex;
    align-self: flex-end;
    font-weight: 900;
    font-size: 16px;
    width: 700px;
    color: navy;
}

/*Email signup*/

.signup-section {
    display: flex;
    background-color:  #3882F6;
    border: white 70px solid;
    color: white;
    padding: 80px;
    justify-content:space-around;
}

.signup-text-box {
    display: flex;
    flex-direction: column;
}

.signup-title {
    font-weight: 900;
    font-size: 24px;
}

.signup-text {
    font-size: 18px;
}

.signup-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Copyright*/

.copyright {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    padding: 30px;
}